@import "tailwindcss";

:root {
    --background: #f2f2f2;
    --text: #010004;
    --btn: #57699b
}


/* Contact Form  */
.contactForm{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

/* Footer Copyright Section */
@media (max-width: 340px){
    .copyright ul li{
        font-size: 10px;
    }
}
