@import "tailwindcss";

:root {
    --background: #f2f2f2;
    --text: #010004;
    --btn: #57699b
}


/* Footer Copyright Section */
@media (max-width: 340px){
    .copyright ul li{
        font-size: 10px;
    }
}
