@import "tailwindcss";

:root {
    --background: #f2f2f2;
    --text: #010004;
    --btn: #57699b
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 10s ease infinite;
}